<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Jinja Table Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body class="bg-secondary">
        <div class="container-fluid text-center text-light p-1">Welcome to My Application, GraphTool!</div>
        <div class="container-fluid bg-dark">
          <ul class="nav nav-tabs bg-dark border-bottom-0">
            <li class="nav-item">
                <!-- <a class="nav-link text-light" href="./images.html">Home</a> -->
                <a class="nav-link text-light" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bg-info active" href="#">Import Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Query (Coming Soon)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Results (Coming Soon)</a>
              </li>
          </ul>
        </div>
        <div class="container p-0 text-light">
            <div class="row m-3">
                <div class="col-sm-6">
                    <button id="myButton" type="button" class="btn btn-success">Import Data</button>
                    <span class="ml-2">Click here to import the sample dataset</span>
                </div>
            </div>
            <div class="row m-3">
                <div class="col-lg-12">
                <h2>Filterable Table</h2>
                <p>Type something in the input field to search the table for first names, last names or emails:</p>  
                <input class="form-control bg-dark text-light" id="searchBar" type="text" placeholder="Search..">
                <br>
                <table id="htmlTable">
                    <thead id="headerTable" class="text-hide">
                        <tr>
                            <th><strong>NAME</strong></th>
                            <th><strong>EMAIL</strong></th>
                        </tr>
                    </thead>
                    <tbody id="dataTable">
                    </tbody>
                </table>
                <p>Note that we start the search in tbody, to prevent filtering the table headers.</p>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var tableData;

            $(document).ready(function(){
                $("#myButton").on("click", buttonClick);
                $("#searchBar").on("keyup", searchBarFunction);
                tableData = {{ data|tojson|safe }};
            });

            function searchBarFunction() {
                var value = $(this).val().toLowerCase();
                $("#dataTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            };

            function buttonClick() {
                $("#myButton").toggleClass("btn-success");
                const text = $("#myButton").text();
                const SPAN_HTML = "<span id=loadingSpin></span>";
                const LOADING = " Loading ... ";
                const BUTTON  = "Import Data";
                if (text === BUTTON){
                    $("#myButton").empty().append(SPAN_HTML);
                    $("#myButton").attr('class', 'btn text-light').append(LOADING);
                    $("#loadingSpin").addClass("spinner-border spinner-border-sm");
                    buildTable(tableData);
                    setTimeout(() => {
                        $("#myButton").attr('class', 'btn btn-success').html(BUTTON);
                    }, 2000);
                };
            };

            function buildTable(data) {
                const header_begin = '<thead><tr><th><strong>NAME</strong></th>';
                const header_end   = '<th><strong>EMAIL</strong></th></tr></thead>';
                var header = header_begin + header_end;
                console.log('Building table from dataset.');

                // add styling to table
                var tableClassArray = [
                    'table',
                    'table-bordered',
                    'table-striped',
                    'table-hover',
                    'table-dark'
                ];
                $.each(tableClassArray, function(_, value) {
                    $("#htmlTable").addClass(value);
                });

                // add table row data
                var html_text = '';
                $.each(data, function(_, value) {
                    html_text += '<tr>';
                    for (var key in value) {
                        html_text += '<td>' + value[key] + '</td>';
                    }
                    html_text += '</tr>';
                });
                $('#dataTable').empty();

                setTimeout(() => {
                    $('#dataTable').append(html_text);
                }, 1000);

                // show the table header
                if ($("#headerTable").attr('class') === 'text-hide') {
                    $("#headerTable").attr('class', 'text-left');
                };
            };
        </script>
    </body>
</html>